form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 5px 0;
  box-sizing: border-box;
}

.flexrow {
  display:flex;
  width: 600px;
}

.flexitem {
  height:300px;
}

#displayImage {
  max-height: 300px;
}